services:
  postgres:
    image: postgres:16-bookworm
    container_name: postgres
    hostname: postgres
    networks:
      - n8n
    ports:
      - "5432:5432"
    env_file:
      - .env
    volumes:
      - ./pg-data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "sh -c 'pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}'" ]
      interval: 10s
      timeout: 3s
      retries: 3
      start_period: 10s
  n8n:
    image: n8nio/n8n:latest
    container_name: n8n
    hostname: n8n
    networks:
      - n8n
    ports:
      - "5678"
    command: start
    environment:
      DB_TYPE: postgresdb
      DB_POSTGRESDB_HOST: postgres
      DB_POSTGRESDB_PORT: 5432
      DB_POSTGRESDB_DATABASE: ${POSTGRES_DB}
      DB_POSTGRESDB_USER: ${POSTGRES_USER}
      DB_POSTGRESDB_PASSWORD: ${POSTGRES_PASSWORD}
      NODEJS_PREFER_IPV4: true
      N8N_PORT: 5678
      N8N_PROTOCOL: https
      GENERIC_TIMEZONE: America/Argentina/Buenos_Aires
      N8N_DEFAULT_LOCALE: es-AR
      N8N_ENCRYPTION_KEY: ${N8N_ENCRYPTION_KEY}
      N8N_RESTRICT_FILE_ACCESS_TO: /data
    env_file:
      - .env
    depends_on:
      postgres:
        condition: service_healthy
    volumes:
      - ./n8n-data:/data
  nginx:
    image: nginx:stable-alpine-slim
    container_name: nginx
    hostname: nginx
    networks:
      - n8n
    ports:
      - "80:80"
      - "443:443"
    environment:
      DOMAIN_NAME: ${DOMAIN_NAME}
    volumes:
      - ./nginx-conf/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx-conf/conf.d/:/etc/nginx/conf.d
      - ./certbot-data/conf:/etc/letsencrypt:ro
      - ./certbot-data/www:/var/www/certbot:ro
    depends_on:
      n8n:
        condition: service_started
  certbot:
    image: certbot/certbot:latest
    volumes:
      - ./certbot-data/conf:/etc/letsencrypt
      - ./certbot-data/www:/var/www/certbot
networks:
  n8n:
    name: n8n

